<ion-card-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label>Lugar de espera:</ion-label>
      {{lugarespera}}
    </ion-item>
    <ion-item>
      <ion-label>Lugar de destino:</ion-label>
      {{lugardestino}}
    </ion-item>
    <ion-item>
      <ion-label>Patente:</ion-label>
      {{patente}}
    </ion-item>
    <ion-item>
      <ion-label>Vehículo:</ion-label>
      {{vehiculo}}
    </ion-item>
    <ion-item>
      <ion-label>Capacidad:</ion-label>
      {{capacidad}}
    </ion-item>
    <ion-item>
      <ion-label>Fecha:</ion-label>
      {{fecha}}
    </ion-item>
    <ion-item>
      <ion-label>Hora:</ion-label>
      {{hora}}
    </ion-item>
  </ion-list>
</ion-card-content>