ion-card {
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  ion-card img {
    max-width: 100%;
  }
  
  ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
  }
  
  ion-input {
    margin-bottom: 10px;
  }
  
  ion-button {
    width: 100%;
    margin-top: 10px;
  }
