<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center centrado2">
      MAPA
    </ion-title>
    <ion-icon slot="end" name="information-circle-outline" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- mapa.page.html -->
<ion-content [fullscreen]="true">
  <ion-card-content class="ion-text-center">
    <div id="map-container"></div>
    
    <!-- Texto informativo -->
    <div class="map-info">
      <div class="map-info-heading">¡Bienvenido al Mapa!</div>
      <p>Aquí puedes ver la ruta al destino. Explora y disfruta del viaje.</p>
      <!-- Puedes agregar más texto informativo si es necesario -->
    </div>
  </ion-card-content>
</ion-content>

