<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center centrado2">
      MAPA
    </ion-title>
    <ion-icon slot="end" name="information-circle-outline" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- mapa.page.html -->
<ion-content [fullscreen]="true">
  <ion-card-content class="ion-text-center">
    <!-- Contenedor del mapa -->
    <div id="map-container" style="height: 400px; width: 100%;"></div>
  </ion-card-content>

  
</ion-content>

