<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center centrado2">{{ "INICIO" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAPerfil()">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
        {{ "VERPERFIL" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaK0nivDnxOMONI_6gqswbs-ohov-XkHuXAQ&usqp=CAU" />
    <ion-card-header>
      <ion-card-title class="centrado2  ">{{ "TELLEVOAPP" | translate }}</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{ "LAMEJORFORMA" | translate }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      {{ "DEDICADA" | translate }}
      <ion-button routerLink="/musicalista">
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="user.esConductor === true">
    <ion-card-header class="ion-text-center">
      <ion-card-title class="centrado2">{{ "CREAR" | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      <div class="ion-text-center">
        <ion-button (click)="irCrearViaje()" size="large" color="warning" class="centrado2">{{ "CREARVIAJE" | translate }}<ion-icon name="car-sport-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card-content *ngIf="weatherData" class="weather-container">
    <div class="weather-info">
      <h1>Estado del tiempo en {{ weatherData.name }}</h1>
      <p>{{ weatherData.weather[0].description }}</p>
      <p>Temperatura: {{ weatherData.main.temp }}°C</p>
      <h2>Recomendaciones:</h2>
      <ul>
        <li *ngFor="let recommendation of recommendations">{{ recommendation }}</li>
      </ul>
    </div>
  </ion-card-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centrado2  ">{{ "TUTORIAL" | translate }}</ion-card-title>
    </ion-card-header>
    <br>
    <img alt="Silhouette of mountains" src="../../../assets/iconosidebar.PNG" />
    <ion-card-content class="ion-text-center">
      {{ "IZQUIERDA" | translate }}
      <br><br>
      <img alt="Silhouette of mountains" src="../../../assets/sidebar.PNG" />
      <br>
      {{ "NAVEGACION" | translate }}
    </ion-card-content>
  </ion-card>
</ion-content>

