<ion-card class="address-card">
    <ion-card-header class="address-header">
      <ion-card-title class="address-title">{{nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="address-content">
      <ion-item>
        <ion-icon name="map-outline" slot="start" class="address-icon"></ion-icon>
        <ion-text class="address-text">{{comuna}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="pin-outline" slot="start" class="address-icon"></ion-icon>
        <ion-text class="address-text">{{calle}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="reader-outline" slot="start" class="address-icon"></ion-icon>
        <ion-text class="address-text">{{detalle}}</ion-text>
      </ion-item>
    </ion-card-content>
    
  </ion-card>