.fondo {
    background-color: #f4f4f4; /* Color de fondo */
  }
  
  .logo {
    width: 120px; /* Tamaño del logo */
  }
  
  .card-login {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */

  }
  
  .icono {
    font-size: 32px; /* Tamaño del ícono */
    color: #ff9900; /* Color del ícono */
  }
  
  .centro {
    text-align: center; /* Alinear texto al centro */
  }
  
  .formulario {
    margin-top: 16px; /* Margen superior del formulario */
  }
  
  .input {
    margin-bottom: 8px; /* Margen inferior de los campos de entrada */
  }
  
  .botones {
    margin-top: 16px; /* Margen superior de los botones */
  }

  .boton-conductor {
    margin-top: 8px;
  }



