<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viajes"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center centrado2">
      ¡COMPLETADO!
    </ion-title>
    <ion-icon slot="end" name="information-circle-outline" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="qr-card">
    <ion-card-header>
      <ion-card-title class="centrado2 ion-text-center">¡VIAJE TOMADO CON ÉXITO!</ion-card-title>
    </ion-card-header>

    <div class="qr-container ion-text-center">
      <img [src]="qrCodeURL" alt="QR Code" class="centered-image">
    </div>
    
    <ion-card-content class="ion-text-center mensaje">
      <p class="mensaje-texto">
        GUARDA ESTE CÓDIGO. MUESTRA EL QR AL CONDUCTOR PARA VALIDAR EL VIAJE.
      </p>
    </ion-card-content>

    <ion-button class="ion-text-center" (click)="irMapa()">
      IR AL MAPA
    </ion-button>
  </ion-card>
  
</ion-content>
